package router

import (
	"{{.ProjectName}}/common/consts"
	"github.com/gin-gonic/gin"
)

var (
	routerNoCheckRole = make([]func(*gin.RouterGroup), 0)
)

// InitRouter 路由初始化，由 RouterRegistry 调用
func InitRouter(r *gin.Engine) {
	noCheckRoleRouter(r)
}

// noCheckRoleRouter 无需认证的路由
func noCheckRoleRouter(r *gin.Engine) {
	// 可根据业务需求来设置接口版本
	v := r.Group(consts.ApiRoot + "/{{.PackageName}}")

	for _, f := range routerNoCheckRole {
		f(v)
	}
}